<body>
    <header>
    <div class="holder">
        <img src="/img/logo.png" width=100px alt="Sky">
        <h1>Winter</h1>

    </div>
    </header>
    <main class="holder" >
        <div>
            <img src="img/img01.jpg" alt="Imagen principal">
        </div>
        <div class="columnas">
            <section class=bienvenidos>
                <h2>Bienvenidos</h2>
                <p>El centro Winter les da la bienvenida. Somos una familia que se dedica al entretenimiento desde 1993, buscando la diversion en familia y los precios mas accesibles.</p>             
            </section>   
            <section class="testimonios"> 
                <h2>Testimonios</h2>
                <div class="testimonios">
                    <span class="cita"> Ambiente agradable, muy recomendable</span>
                    <span class="autor"> Leonel Caliva</span>
                </div>
            </section>  
        </div>  
    </main>
    <footer>
<p>Diseñado por Giuliana Zinna- &copy;2022</p>
    </footer>
</body>
</html>